*{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;}
img{
	max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*nav CSS below*/
nav {
	background-color: #222;
	
	overflow: hidden;
}
nav a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav p {
	color: white;
	text-align: center;
	font-size: 16px;
	padding: 14px 16px;
}

.menu-logo{
	width: 20px;
}
.menu-logo img{
	float: left;
	margin: 20px 0px 0px 14px;
}

.left-menu{
	width: 25%;
}

.dropdownimage{
	height: 15px;
	width: 15px;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: #404040;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}


.title{
	width: 50%;
	float: left;
}


.search{
	padding-top: 0.5%;
	width: 20%;
	height: 30px;
	float: left;
	overflow: hidden;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
}
.search input{
	width: 50%;
	height: 50%;
	float: left;
	align-self: center;
}
.search img{
	padding-right: 2.5%;
}
/**/
/*nav CSS ends here*/
/**/



/**/
/*Main CSS*/
/**/
main{
	background-image: url("./main-pics/numbers.png");
	background-repeat: repeat;
	background-size: contain;

	display: flex;
	justify-content: center;
}
.mainContent{
	padding: 25px 0px 100px 0px;
	width: 50%;
	background-color: #555;

	display: flex;
	justify-content: center;
	align-items: center;
	columns: 2;
	flex-wrap: wrap;
}

.faq{
	width: 400px;
	margin: 25px;
	background-color: #888;
	color: white;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.faq ol div{
	padding: 5%;
}

.main-img-div{
	margin-bottom: 0px;
	width: 90%;
	height: 90%;

	display: flex;
	justify-content: center;
}

/**/
/*Main CSS ends here*/
/**/



/**/
/*Footer CSS*/
/**/
footer{
	background-color: #202020;
	width: 100%;

	display: flex; 
	flex-direction: row;
	justify-content: space-around;
}

.footer-socialmedia{
	padding: 25px;
	width: 25%;
	background-color: #202020;
	
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer-socialmedia img{
	max-width: 75px;
	margin: 10px;
}
.footer-socialmedia a{
	align-self: center;
}

.footer-location{
	width: 25%;

	float: right;
	align-self: center;
}
.footer-location a,.footer-location p{
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;

	color: white;
	text-align: left;
	text-overflow: hide;
	font-size: 16px;
	padding: 5px 0px;
}